* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #070707;
  --sizeindex: calc(1vw + 1vh);
  --transition: .3s cubic-bezier(0.2, 0.6, 0.0, 0.1);
}

@font-face {
  font-family: raleway-m;
  src: url(./assets/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: raleway-m;
  src: url(./assets/fonts/raleway-v22-cyrillic-900.woff2);
  font-weight: 900;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  color: #fff;
  font-family: raleway-m;
  overflow: hidden;
  line-height: 1.8;
}

.swiper {
  overflow: visible!important;
}

.slider {
  height: 100%;
  transform: rotate(15deg);
  top: 10vh;
  height: 80vh;
}

.swiper-wrapper {
  transition: var(--transition)!important;
  will-change: transform;
}

.slider__item {
  overflow: hidden;
  cursor: pointer;
  transition: trnsform var(--transition);
  transition: box-shadow var(--transition);
}

.slider__img {
  position: absolute;
  width: 300%;
  height: 100%;
  background-size: cover;
  left: -100%;
  transition: var(--transition)!important ;
  will-change: transform;
}

.slider-background {
  margin-top: -60vh;
  z-index: 0;
  transform: rotate(-20deg)!important;
  overflow: visible;
  opacity: 0.15;
  filter: blur(120px) saturate(10);
}

.slider-background .slider__item {
  min-height: 100vh;
}

.swiper-slide.slider__item.opened {
  z-index: 2;
  transform: rotate(-15deg) scale(1.45);
  box-shadow: rgb(0 0 0 / 0.75) 0 0 0 10000px;
}

.description {
  position:absolute;
  font-size: calc(var(--sizeindex) * 0.8);
  top: 20vh;
  left: 8vw;
  max-width: 24vw;
  transition: opacity var(--transition), transform var(--transition);
}

.description p {
  margin-top: 3vh;
  opacity: 0.9;
  transition: transform(var(--transition));
  transition-duration: 3s;
}

.description.hidden {
  opacity: 0;
  transform: translateY(5vh);
}

.description.hidden p {
  transform: translateY(3vh);
}

.logo {
  font-size: calc(var(--sizeindex) * 2.4);
  font-weight: 900;
  display: inline-block;
  line-height: 5vh;
  background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}